node_modules/
.pnpm-store/
.vercel/
.env
.env.testnet
dapps/.env
dapps/.env.local
dapps/.env.*.local
.keys/
.DS_Store

docker/.env.sui
docker/world-contracts/

deployments/*
test-resources.json

move-contracts/**/build/**
dapps/frontend
dapps/dist/
